.signIn {
  composes: standartForm from '../../styles/styles-general.module.scss';
}

.submit {
  composes: submitButton from '../../styles/styles-general.module.scss';
}

.notHaveAnAccount {
  composes: haveAnAccount from '../sign-up/sign-up.module.scss';
}

.serverValidations {
  composes: serverValidations from '../sign-up/sign-up.module.scss';
}

.errorAuthentication {
  composes: errorRegistration from '../sign-up/sign-up.module.scss';
}

.location {
  composes: locationInTheRightCorner from '../../styles/styles-general.module.scss';
}
