.signIn {
  composes: signUp from '../sign-up/sign-up.module.scss';
}

.submit {
  composes: submit from '../sign-up/sign-up.module.scss';
}

.notHaveAnAccount {
  composes: haveAnAccount from '../sign-up/sign-up.module.scss';
}

.serverValidations {
  composes: serverValidations from '../sign-up/sign-up.module.scss';
}

.errorAuthentication {
  composes: errorRegistration from '../sign-up/sign-up.module.scss';
}

.location {
  composes: location from '../sign-up/sign-up.module.scss';
}