.personalInfoCheckbox {
  text-align: left;
}

.container {
  display: flex;
  align-items: baseline;
  text-align: left;
}

.label {
  color: rgba(0, 0, 0, 0.9);
}

.checkbox {
  margin-right: 10px;
  transform: scale(1.3) translate(0, 1px);
  opacity: 0.7;
}

.errorMessage {
  composes: errorMessage from '../custom-form-field/custom-form-field.module.scss';
}


