@import '../../styles/mixins/button.module.scss';

.article {
  max-width: 941px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  margin: 20px auto;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &ForList {
      margin-bottom: 4px;
    }
    &ForPage {
      margin-bottom: 20px;
    }

    .header {
      margin-right: 50px;
    }
  }
}

.title {
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  text-decoration: none;
}

.customCheckbox {
  user-select: none;
  margin-left: 13px;
  cursor: pointer;

  .heart {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../../styles/icons/heart-passive.png') no-repeat;
    transform: translate(0px, 2px);
    margin-right: 5px;
  }

  .heartActive {
    background: url('../../styles/icons/heart-active.png') no-repeat;
  }

  .heartsCount {
    font-size: 12px;
    display: inline-block;
    transform: translate(0px, -1px);
  }

  .checkbox {
    margin: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

.tags {
  margin: 3px 0px;

  .tag {
    display: inline-block;
    padding: 2px 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
  }

  .tag + .tag {
    margin-left: 8px;
  }
}

.description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.descriptionForList {
  margin-top: 4px;
}

.descriptionForPage {
  margin-top: 19px;
}

.container {
  flex-shrink: 0;

  .buttons {
    display: flex;
    justify-content: flex-end;
  
    .delete {
      @include button(#f5222d, 14px, #f5222d, 6px 17px, 12%);
    }
    .edit {
      @include button(#52c41a, 14px, #52c41a, 6px 19px, 12%);
    }
    .delete + .edit {
      margin-left: 12px;
    }
  }

  .userDataWithAvatar + .buttons {
    margin-top: 30px;
  }
}

.popconfirm {
  width: 240px;
}
