@import '../../styles/mixins/spinner.module.scss';

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.loading {
  @include spinner(#339dff, 70px, 0.4s);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorNotification {
  composes: alert from '../../index.scss';
}
