@import '../../styles/mixins/spinner.module.scss';

.loading {
  @include spinner(#339dff, 50px, 0.4s);
}

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.centered {
  composes: centered from '../../styles/styles-general.module.scss';
}

.errorNotification {
  composes: alert from '../../styles/styles-general.module.scss';
}

.location {
  composes: locationInTheRightCorner from '../../styles/styles-general.module.scss';
}