.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  & + & {
    margin-top: 12px;
  }
}

.label {
  margin: 0px 0px 2px 0px;
  color: black;
  font-size: 14px;
  line-height: 22px;
}

.input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
}

.inputError {
  composes: input;
  border-color: red;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.4;
  font-size: 16px;
  line-height: 24px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.4;
  font-size: 16px;
  line-height: 24px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.4;
  font-size: 16px;
  line-height: 24px;
}
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.4;
  font-size: 16px;
  line-height: 24px;
}

.errorMessage {
  color: red;
  margin-top: 5px;

  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../../styles/icons/error-indicator.png");
    background-repeat: no-repeat;
    background-size: 15px;
    margin-right: 5px;
    transform: translate(0px, 1px);
  }
}