.signUp {
  background-color: white;
  max-width: 384px;
  margin: 56px auto;
  padding: 48px 32px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.divider {
  margin: 20px 0px 8px 0px;
}

.submit {
  width: 100%;
  outline: none;
  background-color: #1890ff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 8px;
  margin: 21px 0px 8px 0px;
  user-select: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    background-color: #4ba5fa;
  }
}

.haveAnAccount {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

@mixin notification($main-color, $image) {
  border: 1px solid $main-color;
  background-color: lighten($main-color , 90%);
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;

  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: $image;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
    transform: translate(0px, 3px);
  }
}

.errorRegistration {
  @include notification(#F44336, url("../../styles/icons/error3.svg"));
}

.serverValidations {
  @include notification(#FFDD15, url("../../styles/icons/warning.png"));
}
