@import '../../styles/mixins/notification.module.scss';

.signUp {
  composes: standartForm from '../../styles/styles-general.module.scss';
}

.divider {
  margin: 20px 0px 8px 0px;
}

.submit {
  composes: submitButton from '../../styles/styles-general.module.scss';
}

.haveAnAccount {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

.errorRegistration {
  @include notification(#f44336, url('../../styles/icons/icons8-close-window-48.png'));
}

.serverValidations {
  @include notification(#ffdd15, url('../../styles/icons/warning.png'));
}

.location {
  composes: locationInTheRightCorner from '../../styles/styles-general.module.scss';
}