@import '../../../styles/mixins/button.module.scss';

.tagField {
  display: flex;
  width: 450px;
  margin-top: 5px;
}

.input {
  composes: input from '../../custom-form-field/custom-form-field.module.scss';
}

.deleteTagButton {
  @include button(red, 16px, red, 8px 34px, 10%);
}

.input + .deleteTagButton {
  margin-left: 13px;
}
