.header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 16px 22px;
  font-size: 18px;

  .title {
    text-decoration: none;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.85);
  }
}

.link {
  display: inline-block;
  padding: 6px 18px;
  text-decoration: none;

  & + & {
    margin-left: 20px;
  }
}

.signIn {
  composes: link;
  color: rgba(0, 0, 0, 0.85);

  &:hover {
    color: rgba(0, 0, 0, 0.55);
  }
}

.signUp {
  composes: link;
  border: 1px solid #52c41a;
  border-radius: 5px;
  color: #52c41a;
  transition: color 0.15s ease-in-out, border 0.15s ease-in-out;

  &:hover {
    color: #67e727;
    border: 1px solid #67e727;
  }
}
