.editProfile {
  composes: standartForm from '../../styles/styles-general.module.scss';
}

.submit {
  composes: submitButton from '../../styles/styles-general.module.scss';
}

.serverValidations {
  composes: serverValidations from '../sign-up/sign-up.module.scss';
}

.errorEditing {
  composes: errorRegistration from '../sign-up/sign-up.module.scss';
}

.location {
  composes: locationInTheRightCorner from '../../styles/styles-general.module.scss';
}