.spinner {
  composes: spinner from '../articles-list/articles-list.module.scss';
}

.centered {
  composes: centered from '../../styles/styles-general.module.scss';
}

.errorNotification {
  composes: alert from '../../styles/styles-general.module.scss';
}

.location {
  composes: locationInTheRightCorner from '../../styles/styles-general.module.scss';
}