@mixin button($color, $font-size, $border-color, $padding, $increase) {
  display: inline-block;
  padding: $padding;
  text-decoration: none;
  color: $color;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  border-radius: 5px;
  font-size: $font-size;
  transition: color 0.18s ease-in-out, border-color 0.18s ease-in-out;
  background-color: white;
  outline: none;
  cursor: pointer;

  &:hover {
    color: lighten($color, $increase);
    border-color: lighten($border-color, $increase);
  }
}