@import '../../styles/mixins/button.module.scss';

.createArticle {
  composes: signUp from '../sign-up/sign-up.module.scss';
  max-width: 938px;
}

.addTagButton {
  @include button(#1890ff, 16px, #1890ff, 8px 37px, 10%);
}

.tagging {
  display: flex;
  align-items: flex-end;
  margin: 40px 0px 20px 0px;
}

.indent {
  margin-left: 18px;
}

.submit {
  composes: submit from '../sign-up/sign-up.module.scss';
  display: block;
  width: 319px;
}

.errorCreating {
  composes: errorRegistration from '../sign-up/sign-up.module.scss';
}